.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $secondary-text-color;
    background: #2f303a;

    &-info {
        margin-bottom: 56px;
    }

    &-list {
        align-items: baseline;
        text-align: center;
    }

    &-list>div:not(:last-child) {
        // margin-right: 30px;
    }

    .logo {
        margin-bottom: 20px;
    }

    &-contact {
        font-style: normal;

        &-item:not(:last-child) {
            margin-bottom: 7px;
        }

        &-link {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .item-title {
        color: $secondary-text-color;
    }

    &-join-in {
        margin-bottom: 62px;

        .social-link-list {
            display: flex;
            justify-content: center;
        }
    }


    &-join-in .item-title,
    &-subscribe .item-title {
        margin-bottom: 20px;
    }
}

.subscribe {
    &-email {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 0 15px;
        color: $secondary-text-color;
        letter-spacing: 0.03em;

        margin-bottom: 20px;


        // width: 358px;
        &:focus {
            border-color: $accent-color;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &-button {
        display: inline-flex;
        align-items: center;
        // margin-left: 9px;

        svg {
            fill: currentColor;
            margin-left: 9px;
        }
    }
}