.header {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #ececec;


    // padding: 24px 0;

    &-container {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    font-size: 18px;
    line-height: 1.16667;
    font-weight: 500;
    letter-spacing: 0.02em;

    &-menu {
        // margin-left: 93px;
        margin-bottom: 57px;

        &-item {
            &:not(:last-child) {
                margin-bottom: 40px;
            }

        }

        &-link {
            position: relative;

            color: $title-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &::after {
                content: "";
                display: block;
                // position: absolute;
                width: 100%;
                height: 4px;
                bottom: -10px;
                border-radius: 2px;
                background-color: transparent;

                transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        &-link.active,
        &-link:hover,
        &-link:focus {
            color: $accent-color;

            &::after,
            &::after,
            &::after {

                margin-top: 8px;
                bottom: -12px;
                background-color: $accent-color;
            }
        }
    }

    &-contact {
        &-item:not(:last-child) {
            margin-bottom: 15px;
        }

        &-link {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &-link svg {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            fill: currentColor;
        }

    }
}

.mobile-menu {
    $bar-width: 24px;
    $bar-height: 2.65px;
    $bar-spacing: 7px;

    * {
        // outline: 1px solid red;
    }

    .navigation {
        display: flex;
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 16px;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    input[type="checkbox"] {
        display: none;
    }

    .menu-button.is-open {
        & label>.bar {
            background: rgba(255, 255, 255, 0);

            &:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }

    }

    .bar,
    .bar:after,
    .bar:before {
        width: $bar-width;
        height: $bar-height;
    }

    .bar {
        display: block;
        position: relative;
        transform: translateY($bar-spacing);
        background: rgba(33, 33, 33, 1);
        transition: all 0ms 300ms;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: $bar-spacing;
            background: rgba(33, 33, 33, 1);
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: $bar-spacing;
            background: rgba(33, 33, 33, 1);
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    .mobile-menu-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $secondary-text-color;
        padding: 60px;
        text-align: center;
        z-index: 1;

        &.is-open {
            display: block;
        }
    }
}