.portfolio {

  .selection-buttons {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;

      @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
      }
    }

    &-item {
      @media screen and (max-width: 767px) {

        &:nth-child(-n+3) {
          margin-bottom: 15px;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-item {
    background-color: #fff;

    @media screen and (max-width: 767px) {
      &:not(:nth-last-child(-n+1)) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);

      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px;
      }
    }

    &:not(:nth-child(3n)) {
      // margin-right: 30px;
    }

    // &:nth-last-child(1),
    // &:nth-last-child(2),
    // &:nth-last-child(3) {
    //   margin-bottom: 0;
    // }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    .description {
      padding: 20px 24px;
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
    }
  }

  &-item:hover &-overlay,
  &-item:focus &-overlay {
    transform: translateY(0);
  }

  &-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 5px;
  }

  &-type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
  }

  &-preview {
    position: relative;
    overflow: hidden;
  }

  &-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 63px 24px;
    color: $secondary-text-color;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    p {
      font-size: 18px;
      line-height: 1.55555556;
      letter-spacing: 0.03em;
    }
  }
}