.team {
  background-color: #f5f4fa;

  &-item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    &:not(:nth-child(4n)) {
      // margin-right: 30px;
    }

    .description {
      padding-top: 30px;
      padding-bottom: 24px;
      text-align: center;
      // padding-bottom: 30px;
    }

    .description>* {
      font-size: 16px;
      line-height: 1.1875;
      letter-spacing: 0.03em;
    }

    .team-name {
      font-weight: 500;
      color: $title-color;
      margin-bottom: 10px;
    }

    .team-position {
      margin-bottom: 16px;
    }
  }
}