.examples {
    @media screen and (max-width: 1200px) {
        display: none;
    }

    &-item {
        position: relative;

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }
    }

    &-description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 28px 0 27px;
        text-align: center;
        background-color: rgba(47, 48, 58, 0.8);

        h3 {
            margin-bottom: 0;
            color: $secondary-text-color;
        }
    }
}