.clients {
    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        @media screen and (max-width: 767px) {
            width: calc((100% - 30px) / 2);

            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }

            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }
        }

        @media screen and (min-width: 768px) {
            width: calc((100% - 30px * 2) / 3);

            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 30px;
            }

            &:not(:nth-child(3n)) {
                margin-right: 30px;
            }
        }

    }

    &-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition-property: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        svg {
            fill: #afb1b8;
            transition-property: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover,
        &:focus {
            border-color: $accent-color;

            svg,
            svg {
                fill: $accent-color;
            }
        }
    }


}