.request {
    &-title {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-align: center;
        color: $title-color;
        margin-bottom: 9px;

        // line-height: 1.15;
    }

    &-field {
        position: relative;
        margin-bottom: 7px;

        &.message {
            margin-bottom: 7px;

            // margin-bottom: 12px;

        }
    }

    &-field-icon {
        position: absolute;
        left: 12px;
        bottom: 10px;
    }

    &-field-label {
        display: block;
        font-size: 12px;
        line-height: 1.555555556;
        letter-spacing: 0.01em;
        margin-bottom: 3px;
        color: $primary-text-color;
    }

    &-field-input,
    &-field-textarea {
        font-size: 16px;
        line-height: 1.25;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 100%;
    }

    &-field-input {
        padding: 9px 9px 9px 40px;
    }

    &-field-textarea {
        resize: none;
        padding: 9px 12px;
    }

    &-field:focus-within &-field-icon,
    &-field-input:valid+&-field-icon {
        fill: $accent-color;
    }

    &-field-input:valid,
    &-field-textarea:focus:valid,
    &-field-input:focus,
    &-field-textarea:focus {
        border-color: $accent-color;
    }

    &-field.agreement {
        // padding-left: 14px;

        span {
            font-size: 12px;
            line-height: 1.1667;
            letter-spacing: 0.03em;
        }
    }

    &-field.agreement input[type="checkbox"] {
        display: none;
    }

    .agreement-check {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 15px;
        margin-right: 2px;
        border-radius: 2px;
        border: 1px solid $title-color;
        background: $secondary-text-color;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);


        // margin-right: 4px;

    }

    input:checked+.agreement-check {
        border-color: $accent-color;
        background: $accent-color;
    }

    .agreement-link {
        color: $accent-color;
        text-decoration: underline;
    }

    &-btn {
        display: block;
        margin: 26px auto 0;
        // margin: 30px auto 0;
        padding: 10px 55px;
    }
}