.logo {
    font-family: $logo-font;
    font-size: 24px;
    line-height: 1.166;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.03em;
    color: $accent-color;

    // font-size: 26px;
    // line-height: 1.19;

}

.logo-black {
    color: #000000;
}

.logo-white {
    color: $secondary-text-color;
}